* {
  font-family: "Times New Roman", Times, serif;
}

#myNavbar {
  padding: 0;
  text-align: center;
}

#nav-list {
  background-color: #DFF5FE; 
  margin: 0;
}

.container {
  width: auto;
}

.description {
  background-color: #FEF1DF;
  padding: 15px;
}

.menu-title {
  margin: 10px 0px 10px 0px;
}

.title {
  margin: 5px 0px 5px 0px;
  text-align: center;
}
