* {
  font-family: "Times New Roman", Times, serif;
}

#myNavbar {
  text-align: center;
}

.container {
  width: auto;
}

.description {
  background-color: pink;
  padding: 15px;
}

.menu-title {
  margin: 10px 0px 10px 0px;
}

.title {
  margin: 5px 0px 5px 0px;
  text-align: center;
}
